<app-navbar (emmitSearch)="getSearch($event)"></app-navbar>
<div class="container overflow-scroll" style="margin-top: 250px;">
    <div class="row">
        <app-pokemon-card class="col-sm-3 d-flex justify-content-center" *ngFor="let p of getAllPokemons" [pokemon]="p"></app-pokemon-card>
    </div>
    <div class="col-sm-12 d-flex justify-content-center">
        <ngb-pagination
        [(page)]="currentPage"
        [collectionSize]="151"
        [pageSize]="pageSize"
        (pageChange)="onPageChange($event)"
        [rotate]="true"
        [boundaryLinks]="true"
        ></ngb-pagination>
    </div>
</div>