.pokemon-card {
    margin: 0;
    border-radius: 15px;
    width: 18rem;
    height: 23rem;
}

div > h2 {
    color: #fffffff3;
    font-weight: 500;
    font-size: 30px;
}

div > h5 {
    color: #fffffff3;
}

div > .btn-dark {
    width: fit-content;
}

.pokemon-type-badge {
    color: #ffffff;
    width: 80px;
    padding: 8px;
    border-radius: 15px;
    filter: brightness(1.1);
    text-align: center;
}

/* Modal Styles */

.modal-content{
    background-color: #292b2c;
    color: #fffffff3;
}


.btn-close {
    background-color: #fffffff3;
    color: #fffffff3;
}

.pokemon-type-badge-modal {
    color: #fffffff3;
    width: 100px;
    padding: 8px;
    border-radius: 15px;
    text-align: center;
}

div > span {
    display: inline-block;
    text-align: center;
    width: 100px;
    margin-bottom: 25px;
    margin-top: 25px
}

.favoriteButton > mat-icon {
    color:#fff;
    font-size: 26px;
    height: 26px;
    width: 26px;
    vertical-align: middle;
}
