<div class="container-fluid login-screen">
    <div class="container">
        <div class="row" style="justify-content: center;">
            <img class="col-12-sm img-fluid mt-2" src="../../../../../assets/Poke_Ball_icon.png" style="width: 35%;"/>
            <form>
                <div class="col-12-sm mt-5">
                    <input type="email" class="form-control form-control-lg" id="emailInput" placeholder="Email">
                </div>
                <div class="col-12-sm mt-5">
                    <input type="password" class="form-control form-control-lg" id="passwordInput" placeholder="Password">
                </div>
                <div class="col-12-sm mt-3 mb-2" style="font-weight: 500;">
                    <label class="me-5"><input class="form-check-input" type="checkbox"> Remember Me</label>
                    <a class="ms-4" href="#">Forgot Password?</a>
                </div>
                <div class="col-12-sm mt-4 d-flex align-items-center">
                    <button class="btn btn-dark">Login</button>
                </div>
                <div class="col-12-sm mt-4" style="font-weight: 500;">
                    <p class="mb-0">Don`t have an account?<a href="#"> Register</a></p>
                </div>
            </form>
        </div>
    </div>
</div>