.navbar-toggler { border-color: #fff; color:#fff }

.navbar-toggler-icon { background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");}

mat-icon {  
    color:#fff;
    font-size: 32px;
    height: 32px;
    width: 32px;
    vertical-align: middle;
}


.navbarButton { 
    color: #fff;
    opacity: 0.7;
    transition: 0.3s;
    border-radius: 4px;
    background-color: #fa7070;
    border: none;
}

.navbarButton:hover { opacity: 1 }

form {
    margin-left: 7%;
}

form > input {
    width: 25vw;
}

span:nth-child(3) { color: #fff; font-weight: 500; margin-left: auto;}